{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'siteapp/css/bootstrap/bootstrap.min.css' %}">
	<link href="{% static 'siteapp/css/bootstrap/carousel.css' %}" rel="stylesheet">
	<title>{% block title %}Anurag Patnaik{% endblock %}</title>
</head>

<body>
	{% block carousel %}{% endblock %}
	{% block links %}{% endblock %}
	{% block twitterbox %}{% endblock %}

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'siteapp/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'siteapp/js/bootstrap/docs.min.js' %}"></script>
</body>

</html>